<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="reiki, aromaterapia, relax, sahumos">
    <title>Conoceme</title>
    <meta name="description" content="Te invito a conocerme">

    <link rel="stylesheet" href="../CSS/estilo.css">
    
</head>
<body class="grid-areas">

             <section>
                <a href="../index.html"><img src="../Imagenes/logo_transparente.png" alt="logoReisha" width="150"></a>
             </section>
        <nav>
            <ul class="menu-flex"> 
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="talleres.html">Talleres</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    <main>
            <section>
                <h1>Conoceme</h1>
            </section>
            <section>
                <img src="../Imagenes/conoceme-img.jpg" alt="conoceme" width="600"> 
                <link rel="stylesheet" href="../Index.html">
            </section>
            <section>
                <p>Reisha es el nombre de un emprendimiento 
                    cuya base es la de brindar terapias holísticas a toda persona que quiera lograr su bienestar tanto físico como mental a través de métodos naturales como la aromaterapia, el reiki, las flores de Bach, registros akáshicos.</p>
            </section>
    </main>
    
    <footer class="borde">
        <p>Copyright 2021 - Todos los derechos reservados - by CoderH</p>
    </footer>
</body>
</html>