<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="reiki, aromaterapia, relax, sahumos">
    <title>Nos contactamos</title>
    <meta name="description" content="Vías de contacto">

    <link rel="stylesheet" href="../CSS/estilo.css">
    
</head>

<body class="grid-areas">
        <section>
            <a href="../index.html"><img src="../Imagenes/logo_transparente.png" alt="logoReisha" width="150"></a>
        </section>
    <main>
        <nav>
            <ul class="menu-flex"> 
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="conoceme.html">Conoceme</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="talleres.html">Talleres</a></li>
            </ul>
        </nav>
            <h1>Contacto</h1>
            <form action="">
                <fieldset>
                    <input type="nombre" placeholder="Nombre"><br>
                    <input type="apellido" placeholder="Apellido"><br>
                    <input type="email" name="correo" placeholder="Correo"><br><br>

                <label for="Como nos conociste">Como nos conociste:</label><br>
                    <select name="como nos conociste">
                        <option value="W">Web</option>
                        <option value="A">Por un amigo</option>
                        <option value="IG">Por instagram</option>
                    </select>
                    <hr>
                <label for="Sexo">Sexo:</label>
                    <h2>Masculino</h2>
                    <input type="radio" name="sexo" value="Masculino" />
                    <h3>Femenino</h3>
                    <input type="radio" name="sexo" value="Femenino" />
                    <hr>
                <label for="comentarios">Comentarios:</label><br>
                     <textarea name="Comentarios"cols="30" rows="10"></textarea>
                    <hr>
                <label for="">Estoy de acuerdo con las condiciones del sitio</label>
                     <input type="checkbox" name="Estoy de acuerdo con las condiciones del sitio" id="">
                </fieldset>
                    <hr><hr>
                    <input type="reset" value="Borrar">
                    <input type="submit" value="Enviar">
            </form>

    </main>
    
    <footer class="borde">
        <p>Copyright 2021 - Todos los derechos reservados - by CoderH</p>
    </footer>
</body>
</html>