<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="reiki, aromaterapia, relax, sahumos">
    <title>Los productos</title>
    <meta name="description" content="Productos naturales realizados artesanalmente">

    <link rel="stylesheet" href="../CSS/estilo.css">
    
</head>
<body class="grid-areas">
            <section>
                <a href="../index.html"><img src="../Imagenes/logo_transparente.png" alt="logoReisha" width="150"></a>
            </section>
        <nav>
            <ul class="menu-flex"> 
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="conoceme.html">Conoceme</a></li>
                <li><a href="talleres.html">Talleres</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    <main>
            <section>
                <h1>Productos</h1>
            </section>
            <div class="horizontal">
                <img src="../Imagenes/sales.jpg" alt="sales" width="350" >
                <img src="../Imagenes/spray.jpg" alt="spray" width="350" >
                <img src="../Imagenes/tarot.jpg" alt="tarot" width="350" >
                <img src="../Imagenes/reiki-img.jpg" alt="reiki" width="350">
            </div>       
    </main>
     
    <footer class="borde">
        <p>Copyright 2021 - Todos los derechos reservados - by CoderH</p>
    </footer>
</body>
</html>