<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="reiki, aromaterapia, relax, sahumos">
    <title>Los talleres</title>
    <meta name="description" content="Talleres personalizados">

    <link rel="stylesheet" href="../CSS/estilo.css">
    
</head>
<body class="grid-areas">
    <header>
        <h1>Taller tarot</h1>
        <img src="../Imagenes/Taller-Tarot.jpg" alt="reiki" width="100%">
    </header>

            <section>
                <a href="../index.html"><img src="../Imagenes/logo_transparente.png" alt="logoReisha" width="150"></a>
            </section>
        <nav>
            <ul class="menu-flex"> 
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="conoceme.html">Conoceme</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
      
    <footer class="borde">
        <p>Copyright 2021 - Todos los derechos reservados - by CoderH</p>
    </footer>
</body>
</html>